@model Domain.Entities.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    <div class="form-horizontal p-1">

        <div class="row p-1">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <span class="alert-danger">@TempData["ErrorMessage"]</span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="form-group p-1">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group p-1">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control",type="password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group p-1 ">
            <input type="submit" value="Login" />
        </div>
    </div>

}
